<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>

    <title>Nahuelito</title>
</head>
<body>
    <header>
        ¡Bienvenidos/as a mi app web de notas!
    </header>
    <main>
        <div class="table-container">
            <div class="state to-do">
                <p class="column-tittle">Pendiente</p>
                <section>
                    <article class="test-delete">
                        <span class="close" onclick="deleteThisNote('nota_a_borrar')">X</span>
                        <p>Nota para BORRAR</p>
                        <p>Crear el layout para borrar esta nota</p>
                        <p>Pendiente</p>
                    </article>
                </section>
            </div>
            <div class="state progress">
                <p class="column-tittle">En proceso</p>
                <section>

                </section>
            </div>
            <div class="state done">
                <p class="column-tittle">Terminado</p>
                <section>

                </section>
            </div>
        </div>
        <div class="action-btns">
            <button onclick=newNote()>Nueva nota</button>
        </div>
       
        <marquee>Este tag esta acá porque es bonito y no quiero olvidarlo :)</marquee>
    </main>
    <div class="cover">   
    </div>
     
    <div class="new-nota">  
        <form action="/" method="post">
            

            <div class="tittle-new-note">Nueva Nota <span class="close" onclick=closeModal()>X</span></div>


            <div class="campo-notas">
                <label for="titulo">Título de la nota</label>
                <input type="text" name="titulo">
            </div>

            <div class="campo-notas">
                <label for="descripcion">Descripción</label>
                <textarea name="decripcion" cols="50" rows="10"></textarea>
            </div>

            <div class="campo-notas">
                <label>Estado</label>
                <p>
                    <input type="radio" name="estado" value="Pendiente" checked> Pendiente
                    <input type="radio" name="estado" value="En progreso"> En Progreso
                    <input type="radio" name="estado" value="Terminado"> ¡Finalizado!
                </p>
            </div>

            <button type="submit">¡Crear nota!</button>
        </form>
    </div>
</body>
</html>